.register_here {
  color: rgb(40, 40, 187);
  text-decoration: underline;
}

.register_Container {
  margin-top: 4rem;
}

.login_Container {
  margin-top: 4rem;
}

.form_fields_register {
  margin-bottom: 1rem;
}
