.department_sidebar {
  background-color: #ffffff;

  width: 20%;
  //   height: 400px;
  //   padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  .heading {
    width: 90%;
    margin-left: 1rem;
    margin-top: 1rem;
    // background: #6926d7;
    // background-color: #0f6466;
    background-color: #89c0ec;
    border-radius: 10px;
    padding: 0.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    .heading_name {
      display: flex;
      align-items: center;
      padding: 0.4rem;
      justify-content: center;
      // font-size: 1.5rem;
      width: 100%;
      color: white;
    }
  }
  .division-name {
    display: flex;
    align-items: center;
    padding: 0.4rem;
    margin-left: 1rem;
    i {
      font-size: 1.8rem;
      // color: #6926d7;
      color: #0f6466;
      margin-right: 0.2rem;
    }
  }
}

.sideBar_Image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
