@use "./Styles/_Header.scss" as *;
@use "./Styles/_Global.scss" as *;
@use "./Styles/_HeaderNav.scss" as *;
@use "./Styles/_Divistions.scss" as *;
@use "./Styles/_SideBar.scss" as *;
@use "./Styles/_Export.scss" as *;
@use "./Styles/_TableHeader.scss" as *;
@use "./Styles/_Table.scss" as *;
@use "./Styles/_FormInput.scss" as *;
@use "./styles/AssetPage" as *;
@use "./Styles/_AssetSideBar.scss" as *;
@use "./Styles/_AssetForm.scss" as *;
@use "./Styles/_AssetModal.scss" as *;
@use "./Styles/_AssetDetail.scss" as *;
@use "./Styles/_AssetDetailModal" as *;
@use "./Styles/_FormUsageHistory.scss" as *;
@use "./Styles/_EndUsageHistory.scss" as *;
@use "./Styles/_VerifyEmail.scss" as *;
@use "./Styles/_Register.scss" as *;
@use "./Styles/_Spinner.scss" as *;
@use "./Styles/_Dashboard" as *;

.body html {
  width: 100% !important;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.App {
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiContainer-root {
  margin: 0px !important; /* Remove margin */
  padding: 0px !important; /* Remove padding */
  width: 100% !important; /* Ensure full width */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
